.about-section {
    margin: 10vw 4vw 50px;
    display: flex;

    .about-wrap {
        display: flex;
        border-radius: 2vw;
        background-color: #f8f8f8;
        margin: 0 4vw;

        .about-txt-contain {
            padding: 3vw;
            display: flex;
            flex-direction: column;
            row-gap: 1.5vw;
        
            .about-head {
                display: flex;
                flex-direction: row;
                column-gap: 1.4vw;
                align-items: center;
                
                span {
                    height: 9.5%;
                    width: 2%;
                    background-color: #000;
                }
        
                .head {
                    display: flex;
                    
                    h1 {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: clamp(14px, 2.5vw, 30px);
                        font-weight: 600;
                        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                    }
                }
            }
    
            .about-txt {
                display: flex;
                flex-direction: column;
                row-gap: 1.7vw;
                flex-wrap: wrap;
    
                p {
                    margin: 0;
                    font-size: clamp(10px, 1.3vw, 16px);
                    font-weight: 400;
                    color: #656464;
                }
            }

            .about-btn {
                margin: 10px 0 0;
                display: grid;
                grid-template-columns: 48% 48%;
                column-gap: 4%;
                align-items: center;
                justify-content: center;

                a {
                    display: flex;
                    width: 100%;
                    text-decoration: none;

                    .download-cv-btn {
                        cursor: pointer;
                        padding: 1vw;
                        border: none;
                        border-radius: 2vw;
                        background-color: DodgerBlue;
                        color: #fff;
                        width: 100%;
                        font-size: clamp(10px, 1.3vw, 16px);
                        font-weight: 400;
                        letter-spacing: 2%;
                        opacity: 80%;
                        transition: all 0.8s ease;
                    }

                    :hover,
                    :focus,
                    :active {
                        opacity: 100%;
                    }
                }

                .hire-me-btn {
                    cursor: pointer;
                    padding: 1vw;
                    border: none;
                    border-radius: 2vw;
                    background-color: MediumSeaGreen;
                    color: #fff;
                    width: 100%;
                    font-size: clamp(10px, 1.5vw, 16px);
                    font-weight: 400;
                    letter-spacing: 2%;
                    opacity: 80%;
                    transition: all 0.8s ease;
                }

                :hover,
                :focus,
                :active {
                    opacity: 100%;
                }
            }
        }
    }
}
