.project-sec {
    margin: 50px 4vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .project-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
        margin: 4vw;

        .project-head {
            text-align: center;
            display: flex;
            flex-direction: column;
            row-gap: 1vw;

            h1 {
                margin: 0;
                text-transform: uppercase;
                font-size: clamp(14px, 2.5vw, 30px);
                font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
                font-weight: 600;
            }

            p {
                margin: 0;
                font-size: clamp(10px, 1.3vw, 18px);
                font-weight: 400;
                color: #656464;
            }
        }

        .project-container {
            background-color: #13274F;
            display: grid;
            grid-template-columns: 50% 50%;
            border-radius: 2vw;

            .project-screen-container {
                display: flex;
                
                .project-screen {
                    padding: 3vw 3vw 0 3vw;
                    border-radius: 1.5vw 1.5vw 0 0;
                    
                    img {
                        height: auto;
                        width: 100%;
                        border-radius: 1.5vw 1.5vw 0 0;
                    }
                }
            }

            .project-txt-container {
                display: flex;
                flex-direction: column;
                row-gap: 2vw;
                justify-content: space-between;
                margin: 3vw 3vw 3vw 0;

                .project-txt-wrap {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5vw;

                    h1 {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: clamp(14px, 2.5vw, 30px);
                        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
                        font-weight: 600;
                        color: #fff;
                    }
                    
                    h2 {
                        margin: 0;
                        text-transform: uppercase;
                        font-size: clamp(10px, 1.5vw, 18px);
                        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
                        font-weight: 600;
                        color: #fff;
                    }
                    
                    p {
                        margin: 0;
                        font-size: clamp(8px, 1.3vw, 14px);
                        font-weight: 400;
                        color: #cdcbcb;
                    }
                }

                .project-btn-wrap {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;

                    .project-btn {
                        display: flex;
                        column-gap: 0.5vw;
                        align-items: center;
                        font-size: clamp(10px, 1.3vw, 18px);
                        color: #fff;

                        a {
                            text-decoration: none;
                            color: #fff;
                            font-size: clamp(10px, 1.3vw, 18px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 480px){
    .project-sec {
        .project-wrap {
            .project-container {
                display: flex;
                flex-direction: column;

                .project-screen-container {
                    height: 50vw;
                    width: 100%;

                    .project-screen {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 479px) and (min-width: 280px){
    .project-sec {
        .project-wrap {
            .project-container {
                display: flex;
                flex-direction: column;

                .project-screen-container {
                    height: 50vw;
                    width: 100%;

                    .project-screen {
                        height: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}
