.service-sec {
    margin: 50px 4vw;
    display: flex;

    .service-wrap {
        margin: 0 4vw;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        row-gap: 4vw;
        width: 100%;
        align-items: center;
        justify-content: center;

        .service-head {
            display: flex;
            flex-direction: column;
            row-gap: 1vw;
            text-align: center;
            width: 100%;

            h2 {
                margin: 0;
                font-size: clamp(14px, 2.5vw, 30px);
                font-weight: 600;
                font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                text-transform: uppercase;
            }

            p {
                margin: 0;
                font-size: clamp(10px, 1.3vw, 18px);
                font-weight: 400;
                color: #656464;
            }
        }

        .service-content {
            display: grid;
            grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
            column-gap: 2%;
            row-gap: 1.7vw;

            .service-body {
                cursor: pointer;
                position: relative;
                border-radius: 1.3vw;
                display: flex;
                flex-direction: column;
                row-gap: 1vw;
                padding: 1.7vw;
                background-color: #f8f8f8;
                box-shadow: 0 4px 15px 0 rgba(107, 107, 107, 0.37);
                transition: all 0.8s ease;
                overflow: hidden;

                &::before {
                    content: '';
                    background: rgba(#fff, 0.4);
                    width: 60%;
                    height: 100%;
                    top: 0%;
                    transform: skew(45deg);
                    position: absolute;
                    transition: left 500ms ease-out;
                    left: -125%;
                }

                &:hover {
                    &::before {
                        left: 150%;
                    }
                }

                h3 {
                    margin: 0;
                    font-size: clamp(10px, 1.3vw, 20px);
                    font-weight: 600;
                    text-transform: uppercase;
                    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                }

                p {
                    margin: 0;
                    font-size: clamp(8px, 1.3vw, 14px);
                    font-weight: 400;
                    color: #656464;
                }
            }

            .service-body:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 480px){
    .service-sec {
        .service-wrap {
            .service-content {
                grid-template-columns: 32% 32% 32%;
                column-gap: 2%;
                row-gap: 3vw;
            }
        }
    }
}

@media screen and (max-width: 479px) and (min-width: 280px){
    .service-sec {
        .service-wrap {
            .service-content {
                grid-template-columns: 48% 48%;
                column-gap: 4%;
                row-gap: 3vw;
            }
        }
    }
}
