.skill-sec {
    border: 1px solid #000;
    margin: 50px 4vw;
    display: flex;
    justify-content: end;

    .skill-wrap {
        border: 1px solid green;
        margin: 0 4vw;
        position: relative;
        display: flex;
        width: 87.6%;
        border-radius: 2vw;
        justify-content: end;
        background-color: #fbcfb174;

        .skill-img-body {
            border: 1px solid blue;
            position: absolute;
            background-image: url(../../../asserts/images/about-images/about-img.jpg);
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            top: 50%;
            right: 48%;
            transform: translate(-50%, -50%);
            border-radius: 2vw;
            height: 30vw;
            width: 30vw;
        }

        .skill-content {
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            row-gap: 2.5vw;
            padding: 3vw;
            border-radius: 2vw;
            width: 59%;
            
            .skill-head {
                border: 1px solid #000;
                display: flex;
                flex-direction: row;
                column-gap: 1.3vw;
                align-items: center;
                
                span {
                    background-color: #000;
                    height: 10%;
                    width: 1.7vw;
                }
                
                p {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: clamp(14px, 2.5vw, 30px);
                    font-weight: 600;
                    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                }
            }
            
            .skill-body {
                border: 1px solid #000;
                display: grid;
                grid-template-columns: 48% 48%;
                column-gap: 4%;
                row-gap: 1.4vw;
                

                .skill-box {
                    border: 1px solid red;
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    column-gap: 1.7vw;
                    align-items: center;

                    .skill-png-wrap {
                        display: flex;
                        height: 4vw;
                        width: 4vw;
    
                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
    
                    .skill-name {
                        display: flex;

                        p {
                            margin: 0;
                            text-transform: uppercase;
                            font-size: clamp(10px, 1.3vw, 18px);
                            font-weight: 400;
                            letter-spacing: 1px;
                            color: #656464;
                        }
                    }
                }
            }

            .download-cv-wrap {
                border: 1px solid red;
                display: flex;
                
                a {
                    display: flex;
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    
                    .download-cv-btn {
                        cursor: pointer;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;    
                        padding: 1vw;
                        border: none;
                        border-radius: 2vw;
                        background-color: DodgerBlue;
                        color: #fff;
                        width: 100%;
                        font-size: clamp(10px, 1.3vw, 16px);
                        font-weight: 400;
                        letter-spacing: 2%;
                        opacity: 80%;
                        transition: all 0.8s ease;
                    }

                    :hover,
                    :focus,
                    :active {
                        opacity: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) and (min-width: 480px){
    .skill-sec {
        margin: 100px 4vw 50px;

        .skill-wrap {
            width: 100%;
            
            .skill-content {
                margin: 30vw 4vw 0;
                width: 100%;
            }

            .skill-img-body {
                height: 30vw;
                width: 70vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -130%);
            }
        }
    }
}

@media screen and (max-width: 479px) and (min-width: 280px){
    .skill-sec {
        margin: 100px 4vw 50px;

        .skill-wrap {
            width: 100%;
            
            .skill-content {
                margin: 25vw 4vw 0;
                width: 100%;
            }

            .skill-img-body {
                height: 30vw;
                width: 70vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -150%);
            }
        }
    }
}
